.footer__email {
  background: #faf8f6;
  padding: 48px 180px 48px;
  display: flex;
  gap: 100px;

  align-items: center;
}
.email__elements-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.email__text-bold {
  color: #333461;
  font-family: Kumbh Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 38px;
}
.email__text-normal {
  color: #4a556c;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.email__input {
  padding: 10px 14px;
  color: rgba(74, 85, 108, 0.5);
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  max-width: 280px;
  max-height: 44px;
  box-sizing: border-box;
}
.email__input::placeholder {
  color: rgba(74, 85, 108, 0.5);
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.email__btn {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #20ad96;
  background: #20ad96;
  padding: 10px 18px;
  max-width: 150px;
  width: 100%;
  max-height: 44px;
}
.email__form {
  display: flex;
  gap: 16px;
}
.footer__text {
  color: rgba(74, 85, 108, 0.5);
  margin: 0;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 320px;
  width: 100%;
}
.footer__title-list {
  color: #333461;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 0;
}
.footer__list li {
  list-style-type: none;
}
.footer__elements {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__container {
  display: flex;
  gap: 64px;
  padding: 64px 180px 64px;
}
.footer__list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer {
  display: flex;
  flex-direction: column;
}
.width {
  max-width: 336px;
  width: 100%;
}
